<div class="row">
	
	<div *ngIf="!photos">
		<div class="d-flex align-items-center">
		  <strong>Loading...</strong>
		  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
		</div>
	</div>

	<div *ngIf="photos" class="card-columns"  >
  	<div *ngFor="let photo of photos" class="card  card-photo" (click)="selectedCard( photo._id )">
			<div class="card-header">
				<h5 class="card-title">{{ photo.title }}</h5>
			</div>

	    <img [src]="'http://localhost:4000/' + photo.imagePath" class="img-card-top w-100" >
	    
	    <div class="card-body">
	      <p class="card-text">{{ photo.description }}</p>
	    </div>
	  </div>
	</div>
</div>
